# Helper drafts
helper/

# Vector DB / FAISS artifacts
*.pkl
faiss_index*/

# Virtual environments
.env_chat_rag/

# Python cache
__pycache__/
*.pyc

# for privacy from public deployment on github & AWS
data/faiss_index/
data/conversations_private.json