fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-ollama

numpy<2
sentence-transformers==2.2.2
transformers==4.38.2
huggingface_hub==0.20.3
torch==2.2.2

faiss-cpu
rank-bm25